/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 10%;
  padding: 0;
  background-color: #fafafa; 
  color: #333; 
}
//#6A5ACD
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
p, ul > li {
  font-size: 18px;
}
h3 {
  font-size: 22px;
}

/* Header Styles */
#title, #tribute-info {
  text-align: center;
  color: #6A5ACD; 
}

/* Image Styles */
figure img, #image {
  display: block;
  height: auto;
  border-radius: 8px;
  max-width: 100%;
  margin: 0 auto; 
}

/* Figure Styles */
figure, #img-div {
  text-align: center;
  margin: 20px 0;
}

figcaption, #img-caption {
  font-style: italic;
  font-size: 14px;
  color: #FF6B6B; 
}

/* Heading Styles */
h1, h2, h3 {
  color: #6A5ACD;
}
section{
  margin:50px auto;
}
/* Paragraph Styles */
p {
  line-height: 1.6;
}

/* Blockquote Styles */
blockquote {
  font-style: italic;
  color: #333;
  border-left: 5px solid #FF6B6B; 
  padding-left: 20px;
  font-size: 18px;
}

/* List Styles */
ul, ol {
  padding-left: 20px;
}

/* Link Styles */
#tribute-link {
  color: #6A5ACD; 
  text-decoration: none;
}

#tribute-link:hover {
  text-decoration: underline;
	  color: #FF6B6B; 
}


/* Responsive Styles */
@media screen and (max-width: 600px) {
  main {
    padding: 10px;
  }
}
